footer {
    background: linear-gradient(90deg,  rgb(151,87,231) 10%, rgb(49, 195, 233) 140%);
    color: white;
    padding: 10px;
}

.footer-content {
    display: flex;
}

.footer-row {
    justify-content: space-between;
    width: 100%;
}

.footer-row ul {
    list-style-type: none;
    padding-left: 0px;
}
