header {
    background: linear-gradient(90deg,  rgb(151,87,231) 10%, rgb(49, 195, 233) 140%);
}

.navbar {
    display: flex;
    padding: 10px;
    align-items: center;
}

.toggle-button {
    display: none;
    align-self: center;
}

.toggle-checkbox {
    display: none;

}

.toggle-button svg {
    vertical-align: middle;
    line-height: inherit;
    margin: 2px;
    color: white;
    align-self: center;
    font-size:2em;
}

.page-logo {
    color: white;
    padding-left: 10px;
    font-size: 2em;
}

.page-logo img {
    max-height:60px;
}

.nav-links {
    margin-left: auto;
}

.nav-links ul {
    list-style-type: none;
    display: flex;
}
.nav-items {
    padding: 0.5em 1em;
}

.nav-items a {
    color: white;
    text-decoration: none;
}
.nav-cart {
    border: 1px solid white;
}
.nav-cart:hover {
    background: rgba(255,255,255,0.2) !important;
}


@media (max-width: 800px) {

    .navbar {
        align-items: flex-start;
        flex-wrap: wrap;
    }

    .nav-links {
        display:none;
        width: 100%;
    }


    .toggle-button {
        display: block;
    }


    .toggle-checkbox:checked ~ .nav-links {
        display: block;
    }

    .nav-links ul {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 10px 0;
        padding-left:0px;
        width: 100%;
    }

    .nav-items {
        width: 100%;
        margin: 0px;
        padding: 0px;
        height: 50px;
    }

    .nav-items a {
        height: 3em;
        width: 100%;
        padding-left: 10px;
        height: 50px;
        display: flex;
        align-items: center;
    }


}







