.hero-wrapper {
    background: url("https://images.rawpixel.com/image_1000/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIyLTA1L3B4MTM2OTgxMy1pbWFnZS1rd3Z4eHA5MS5qcGc.jpg") no-repeat;
    background-size: cover;
    height: 50vh;
    overflow: hidden;
}

.herobox {
    font-family: 'Gordita', sans-serif;
    color: white;
    display: flex;
    padding: 0 3em;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.herobox h2 {
    font-size: 3em;
}

.herobox p {
    font-size: 1.5em;
}
